
#imageUpload {
    display: none;
}

.img-preview img {
    width: 30%;
    height: auto;
}

.image-section {
    margin-top: 15px;
}

.loader {
    margin-top: 15px;
}

#result {
    margin-top: 15px;
}

